<!DOCTYPE html>
<html>

<body>



<div class="main-page">
    <div class="container">
        <div class="field">
            <label class="label is-size-1">Enter a city:</label>
            <div class="input-container">
                <div class="city-question control">
                    <input class="input" id="city" type="text" placeholder="City Name">
                </div>
                <button (click)="getWeather()" class="button is-outlined">Go</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

